.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}
.items-center{
    align-items: center;
}
.items-end{
    align-items: end;
}
.items-between{
    align-items: space-between;
}